
  <button type="button" class="close" mat-dialog-close>
    <span aria-hidden="true">X</span>
  </button>
<h2 mat-dialog-title>Schedule a Pickup</h2>
<mat-dialog-content class="mat-typography">
  <h3 style="text-align:justify">Let's not waste your valuable time in counting the clothes and weighing your Laundry. </h3>
  <p style="text-align:justify">Just schedule a pickup and a friendly delivery professional will arive at your doorstep at the time you choose to colect your laundry.
      Our delivery professional will count your clothes or weigh it for you to give you the cheapest cost possible.
  </p>
  <img src="../../assets/img/icons/common/delivery boy.png" class="image">
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-dialog-close class="btn mt-4">Cancel</button>
  <button class="btn btn-primary mt-4" >Schedule</button>
</mat-dialog-actions>
